siga-webapp/src/main/resources/static/siga.wadl

<application xmlns:tns="http://json.webapp.siga.openeid.ee/" xmlns="http://wadl.dev.java.net/2009/02"
             targetNamespace="http://json.webapp.siga.openeid.ee/">
    <grammars>
        <include href="siga.xsd">
        </include>
    </grammars>
    <resources base="http://localhost:8080/siga-webapp-1.0.0/">
        <resource path="">
            <resource path="hashcodecontainers">
                <method id="createHashcodeContainer" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:createHashcodeContainerRequest"
                                            mediaType="application/json" xmlns=""/>
                    </request>
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:createHashcodeContainerResponse"
                                            mediaType="application/json" xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="upload/hashcodecontainers">
                <method id="uploadHashcodeContainer" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:uploadHashcodeContainerRequest"
                                            mediaType="application/json" xmlns=""/>
                    </request>
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:uploadHashcodeContainerResponse"
                                            mediaType="application/json" xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="hashcodecontainers/validationreport">
                <method id="createHashcodeContainerValidationReport" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:createHashcodeContainerValidationReportRequest"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </request>
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:createHashcodeContainerValidationReportResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="hashcodecontainers/{containerId}/validationreport">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="containerId" style="template"
                       type="xs:string"/>
                <method id="getHashcodeContainerValidationReport" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Authorization" style="header"
                               type="xs:string"/>
                    </request>
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:getHashcodeContainerValidationReportResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="hashcodecontainers/{containerId}/remotesigning">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="containerId" style="template"
                       type="xs:string"/>
                <method id="createHashcodeContainerRemoteSigning" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:createHashcodeContainerRemoteSigningRequest"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </request>
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:createHashcodeContainerRemoteSigningResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="hashcodecontainers/{containerId}/remotesigning/{signatureId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="containerId" style="template"
                       type="xs:string"/>
                <method id="updateHashcodeContainerRemoteSigning" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:updateHashcodeContainerRemoteSigningRequest"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </request>
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:updateHashcodeContainerRemoteSigningResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="hashcodecontainers/{containerId}/mobileidsigning">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="containerId" style="template"
                       type="xs:string"/>
                <method id="createHashcodeContainerMobileIdSigning" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:createHashcodeContainerMobileIdSigningRequest"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </request>
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:createHashcodeContainerMobileIdSigningResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="hashcodecontainers/{containerId}/mobileidsigning/{signatureId}/status">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="containerId" style="template"
                       type="xs:string"/>
                <method id="getHashcodeContainerMobileIdSigningStatus" name="GET">
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:getHashcodeContainerMobileIdSigningStatusResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="hashcodecontainers/{containerId}/signatures">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="containerId" style="template"
                       type="xs:string"/>
                <method id="getHashcodeContainerSignatures" name="GET">
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:getHashcodeContainerSignaturesResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="hashcodecontainers/{containerId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="containerId" style="template"
                       type="xs:string"/>
                <method id="getHashcodeContainer" name="GET">
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:getHashcodeContainerResponse"
                                            mediaType="application/json" xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource path="hashcodecontainers/{containerId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="containerId" style="template"
                       type="xs:string"/>
                <method id="deleteHashcodeContainer" name="DELETE">
                    <response status="200">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            element="tns:deleteHashcodeContainerResponse"
                                            mediaType="application/json" xmlns=""/>
                    </response>
                    <response status="400">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="401">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                    <response status="500">
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" element="tns:errorResponse"
                                            mediaType="application/json"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
