siga-webapp/src/main/resources/static/siga.wadl

<application xmlns="http://wadl.dev.java.net/2009/02" targetNamespace="http://json.webapp.siga.openeid.ee/" xmlns:tns="http://json.webapp.siga.openeid.ee/">
	<grammars>
		<include href="siga.xsd">
		</include>
	</grammars>
	<resources base="http://localhost:8080/siga-webapp-1.0.0/">
		<resource path="">
			<resource path="hashcodecontainers">
				<method id="createHashCodeContainer" name="POST">
					<request>
						<ns2:representation  element="tns:createHashCodeContainerRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:createHashCodeContainerResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="upload/hashcodecontainers">
				<method id="uploadHashCodeContainer" name="POST">
					<request>
						<ns2:representation  element="tns:uploadHashCodeContainerRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:uploadHashCodeContainerResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/validationreport">
				<method id="createValidationReport" name="POST">
					<request>
						<ns2:representation element="tns:createHashCodeValidationReportRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:createHashCodeValidationReportResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/validationreport">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="getValidationReport" name="GET">
					<request>
						<param name="Authorization" style="header" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:getHashCodeValidationReportResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/remotesigning">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="createRemoteSigning" name="POST">
					<request>
						<ns2:representation element="tns:createHashCodeRemoteSigningRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:createHashCodeRemoteSigningResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/remotesigning">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="updateRemoteSigning" name="PUT">
					<request>
						<ns2:representation element="tns:updateHashCodeRemoteSigningRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:updateHashCodeRemoteSigningResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/mobileidsigning">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="createMobileIdSigning" name="POST">
					<request>
						<ns2:representation element="tns:createHashCodeMobileIdSigningRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:createHashCodeMobileIdSigningResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/mobileidsigning/status">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="getMobileIdSigningStatus" name="GET">
					<response status="200">
						<ns2:representation element="tns:getHashCodeMobileIdSigningStatusResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/signatures">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="getSignatures" name="GET">
					<response status="200">
						<ns2:representation element="tns:getHashCodeSignaturesResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}	">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="getContainer" name="GET">
					<response status="200">
						<ns2:representation element="tns:getHashCodeContainerResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="deleteHashCodeContainer" name="DELETE">
					<response status="200">
						<ns2:representation element="tns:deleteHashCodeContainerResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>
