siga-webapp/src/main/resources/static/siga.wadl

<application xmlns="http://wadl.dev.java.net/2009/02" targetNamespace="http://json.webapp.siga.openeid.ee/" xmlns:tns="http://json.webapp.siga.openeid.ee/">
	<grammars>
		<include href="siga.xsd">
		</include>
	</grammars>
	<resources base="http://localhost:8080/siga-webapp-1.0.0/">
		<resource path="">
			<resource path="hashcodecontainers">
				<method id="createHashcodeContainer" name="POST">
					<request>
						<ns2:representation  element="tns:createHashcodeContainerRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:createHashcodeContainerResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="upload/hashcodecontainers">
				<method id="uploadHashcodeContainer" name="POST">
					<request>
						<ns2:representation  element="tns:uploadHashcodeContainerRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:uploadHashcodeContainerResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/validationreport">
				<method id="createValidationReport" name="POST">
					<request>
						<ns2:representation element="tns:createHashcodeValidationReportRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:createHashcodeValidationReportResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/validationreport">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="getValidationReport" name="GET">
					<request>
						<param name="Authorization" style="header" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:getHashcodeValidationReportResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/remotesigning">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="createRemoteSigning" name="POST">
					<request>
						<ns2:representation element="tns:createHashcodeRemoteSigningRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:createHashcodeRemoteSigningResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/remotesigning">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="updateRemoteSigning" name="PUT">
					<request>
						<ns2:representation element="tns:updateHashcodeRemoteSigningRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:updateHashcodeRemoteSigningResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/mobileidsigning">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="createMobileIdSigning" name="POST">
					<request>
						<ns2:representation element="tns:createHashcodeMobileIdSigningRequest" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</request>
					<response status="200">
						<ns2:representation element="tns:createHashcodeMobileIdSigningResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/mobileidsigning/status">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="getMobileIdSigningStatus" name="GET">
					<response status="200">
						<ns2:representation element="tns:getHashcodeMobileIdSigningStatusResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}/signatures">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="getSignatures" name="GET">
					<response status="200">
						<ns2:representation element="tns:getHashcodeSignaturesResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="getContainer" name="GET">
					<response status="200">
						<ns2:representation element="tns:getHashcodeContainerResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
			<resource path="hashcodecontainers/{containerId}">
				<param name="containerId" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				<method id="deleteHashcodeContainer" name="DELETE">
					<response status="200">
						<ns2:representation element="tns:deleteHashcodeContainerResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="400">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="401">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
					<response status="500">
						<ns2:representation element="tns:errorResponse" mediaType="application/json" xmlns="" xmlns:ns2="http://wadl.dev.java.net/2009/02"/>
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>
