siga-webapp/src/main/resources/static/siga.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" xmlns:tns="http://json.webapp.siga.openeid.ee/"
           targetNamespace="http://json.webapp.siga.openeid.ee/">
    <xs:element name="createHashCodeContainerRequest" type="tns:createHashCodeContainerRequest"/>
    <xs:element name="createHashCodeContainerResponse" type="tns:createHashCodeContainerResponse"/>
    <xs:element name="uploadHashCodeContainerRequest" type="tns:uploadHashCodeContainerRequest"/>
    <xs:element name="uploadHashCodeContainerResponse" type="tns:uploadHashCodeContainerResponse"/>
    <xs:element name="createHashCodeValidationReportRequest" type="tns:createHashCodeValidationReportRequest"/>
    <xs:element name="createHashCodeValidationReportResponse" type="tns:createHashCodeValidationReportResponse"/>
    <xs:element name="getHashCodeValidationReportResponse" type="tns:getHashCodeValidationReportResponse"/>
    <xs:element name="createHashCodeRemoteSigningRequest" type="tns:createHashCodeRemoteSigningRequest"/>
    <xs:element name="createHashCodeRemoteSigningResponse" type="tns:createHashCodeRemoteSigningResponse"/>
    <xs:element name="updateHashCodeRemoteSigningRequest" type="tns:updateHashCodeRemoteSigningRequest"/>
    <xs:element name="updateHashCodeRemoteSigningResponse" type="tns:updateHashCodeRemoteSigningResponse"/>
    <xs:element name="createHashCodeMobileIdSigningRequest" type="tns:createHashCodeMobileIdSigningRequest"/>
    <xs:element name="createHashCodeMobileIdSigningResponse" type="tns:createHashCodeMobileIdSigningResponse"/>
    <xs:element name="getHashCodeMobileIdSigningStatusResponse" type="tns:getHashCodeMobileIdSigningStatusResponse"/>
    <xs:element name="getHashCodeSignaturesResponse" type="tns:getHashCodeSignaturesResponse"/>
    <xs:element name="getHashCodeContainerResponse" type="tns:getHashCodeContainerResponse"/>
    <xs:element name="deleteHashCodeContainerResponse" type="tns:deleteHashCodeContainerResponse"/>
    <xs:element name="errorResponse" type="tns:errorResponse"/>


    <xs:complexType name="errorResponse">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string"/>
            <xs:element name="errorMessage" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createHashCodeContainerRequest">
        <xs:sequence>
            <xs:element name="dataFiles" type="tns:hashCodeDataFile" nillable="true" maxOccurs="unbounded"
                        minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="hashCodeDataFile">
        <xs:sequence>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element name="fileHashSha256" type="xs:string"/>
            <xs:element name="fileHashSha512" type="xs:string"/>
            <xs:element name="fileSize" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashCodeContainerResponse">
        <xs:sequence>
            <xs:element name="containerId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadHashCodeContainerRequest">
        <xs:sequence>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadHashCodeContainerResponse">
        <xs:sequence>
            <xs:element name="containerId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashCodeValidationReportRequest">
        <xs:sequence>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashCodeValidationReportResponse">
        <xs:sequence>
            <xs:element name="validationConclusion" type="tns:validationConclusion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getHashCodeValidationReportResponse">
        <xs:sequence>
            <xs:element name="validationConclusion" type="tns:validationConclusion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashCodeRemoteSigningRequest">
        <xs:sequence>
            <xs:element name="signingCertificate" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="stateOrProvince" type="xs:string"/>
            <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
            <xs:element minOccurs="0" name="country" type="xs:string"/>
            <xs:element minOccurs="0" name="roles" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashCodeRemoteSigningResponse">
        <xs:sequence>
            <xs:element name="dataToSign" type="xs:string"/>
            <xs:element name="digestAlgorithm" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateHashCodeRemoteSigningRequest">
        <xs:sequence>
            <xs:element name="signatureValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateHashCodeRemoteSigningResponse">
        <xs:sequence>
            <xs:element name="result" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashCodeMobileIdSigningRequest">
        <xs:sequence>
            <xs:element name="personIdentifier" type="xs:string"/>
            <xs:element name="phoneNo" type="xs:string"/>
            <xs:element name="originCountry" type="xs:string"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="serviceName" type="xs:string"/>
            <xs:element minOccurs="0" name="messageToDisplay" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="stateOrProvince" type="xs:string"/>
            <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
            <xs:element minOccurs="0" name="country" type="xs:string"/>
            <xs:element minOccurs="0" name="roles" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashCodeMobileIdSigningResponse">
        <xs:sequence>
            <xs:element name="challengeId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getHashCodeMobileIdSigningStatusResponse">
        <xs:sequence>
            <xs:element name="midStatus" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getHashCodeSignaturesResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="signatures" maxOccurs="unbounded" type="tns:signature"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getHashCodeContainerResponse">
        <xs:sequence>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteHashCodeContainerResponse">
        <xs:sequence>
            <xs:element name="result" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validationConclusion">
        <xs:sequence>
            <xs:element name="policy" type="tns:policy"/>
            <xs:element name="validationTime" type="xs:string"/>
            <xs:element name="validatedDocument" type="tns:validatedDocumentData"/>
            <xs:element name="validationLevel" minOccurs="0" type="xs:string"/>
            <xs:element name="validationWarnings" maxOccurs="unbounded" minOccurs="0" type="tns:validationWarning"/>
            <xs:element name="signatureForm" minOccurs="0" type="xs:string"/>
            <xs:element name="signatures" minOccurs="0" maxOccurs="unbounded" type="tns:signatureValidationData"/>
            <xs:element name="timeStampTokens" minOccurs="0" maxOccurs="unbounded" type="tns:timeStampTokenData"/>
            <xs:element name="validSignaturesCount" minOccurs="0" type="xs:int"/>
            <xs:element name="signaturesCount" minOccurs="0" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signature">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="signerInfo" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="policy">
        <xs:sequence>
            <xs:element name="policyDescription" type="xs:string"/>
            <xs:element name="policyName" type="xs:string"/>
            <xs:element name="policyUrl" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timeStampTokenData">
        <xs:sequence>
            <xs:element name="indication" type="xs:string"/>
            <xs:element name="signedBy" type="xs:string"/>
            <xs:element name="signedTime" type="xs:string"/>
            <xs:element name="errors" minOccurs="0" maxOccurs="unbounded" type="tns:error"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="error">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validatedDocumentData">
        <xs:sequence>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element name="fileHash" minOccurs="0" type="xs:string"/>
            <xs:element name="hashAlgo" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validationWarning">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signatureValidationData">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="signatureFormat" type="xs:string"/>
            <xs:element name="signatureLevel" minOccurs="0" type="xs:string"/>
            <xs:element name="signedBy" type="xs:string"/>
            <xs:element name="indication" type="xs:string"/>
            <xs:element name="subIndication" minOccurs="0" type="xs:string"/>
            <xs:element name="errors" minOccurs="0" maxOccurs="unbounded" type="tns:error"/>
            <xs:element name="signatureScopes" minOccurs="0" maxOccurs="unbounded" type="tns:signatureScope"/>
            <xs:element name="claimedSigningTime" type="xs:string"/>
            <xs:element name="warnings" maxOccurs="unbounded" minOccurs="0" type="tns:warning"/>
            <xs:element name="info" minOccurs="0" type="tns:info"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signatureScope">
        <xs:sequence>
            <xs:element name="name" minOccurs="0" type="xs:string"/>
            <xs:element name="scope" minOccurs="0" type="xs:string"/>
            <xs:element name="content" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="warning">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="info">
        <xs:sequence>
            <xs:element minOccurs="0" name="bestSignatureTime" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
