siga-webapp/src/main/resources/static/siga.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" xmlns:tns="http://json.webapp.siga.openeid.ee/" targetNamespace="http://json.webapp.siga.openeid.ee/">
    <xs:element name="createContainerRequest" type="tns:createContainerRequest"/>
    <xs:element name="createContainerResponse" type="tns:createContainerResponse"/>
    <xs:element name="uploadContainerRequest" type="tns:uploadContainerRequest"/>
    <xs:element name="uploadContainerResponse" type="tns:uploadContainerResponse"/>
    <xs:element name="validateContainerRequest" type="tns:validateContainerRequest"/>
    <xs:element name="validateContainerResponse" type="tns:validateContainerResponse"/>
    <xs:element name="getContainerValidationResponse" type="tns:getContainerValidationResponse"/>
    <xs:element name="prepareSignatureRequest" type="tns:prepareSignatureRequest"/>
    <xs:element name="prepareSignatureResponse" type="tns:prepareSignatureResponse"/>
    <xs:element name="finalizeSignatureRequest" type="tns:finalizeSignatureRequest"/>
    <xs:element name="finalizeSignatureResponse" type="tns:finalizeSignatureResponse"/>
    <xs:element name="startMobileIdSigningRequest" type="tns:startMobileIdSigningRequest"/>
    <xs:element name="startMobileIdSigningResponse" type="tns:startMobileIdSigningResponse"/>
    <xs:element name="getMobileSigningStatusResponse" type="tns:getMobileSigningStatusResponse"/>
    <xs:element name="getSignatureListResponse" type="tns:getSignatureListResponse"/>
    <xs:element name="getContainerResponse" type="tns:getContainerResponse"/>
    <xs:element name="closeSessionResponse" type="tns:closeSessionResponse"/>

    <xs:complexType name="createContainerRequest">
        <xs:sequence>
            <xs:element name="containerName" type="xs:string"/>
            <xs:element name="dataFiles" type="tns:dataFile" nillable="true" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dataFile">
        <xs:sequence>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element name="fileHash" type="xs:string" minOccurs="0"/>
            <xs:element name="fileHashAlgorithm" type="xs:string" minOccurs="0"/>
            <xs:element name="fileContent" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createContainerResponse">
        <xs:sequence>
            <xs:element name="sessionId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadContainerRequest">
        <xs:sequence>
            <xs:element name="container" type="xs:string"/>
            <xs:element name="containerName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadContainerResponse">
        <xs:sequence>
            <xs:element name="sessionId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validateContainerRequest">
        <xs:sequence>
            <xs:element name="containerName" type="xs:string"/>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validateContainerResponse">
        <xs:sequence>
            <xs:element name="validationConclusion" type="tns:validationConclusion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getContainerValidationResponse">
        <xs:sequence>
            <xs:element name="validationConclusion" type="tns:validationConclusion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="prepareSignatureRequest">
        <xs:sequence>
            <xs:element name="signingCertificate" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="stateOrProvince" type="xs:string"/>
            <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
            <xs:element minOccurs="0" name="country" type="xs:string"/>
            <xs:element minOccurs="0" name="roles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="role" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="prepareSignatureResponse">
        <xs:sequence>
            <xs:element name="dataToSign" type="xs:string"/>
            <xs:element name="digestAlgorithm" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="finalizeSignatureRequest">
        <xs:sequence>
            <xs:element name="signatureValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="finalizeSignatureResponse">
        <xs:sequence>
            <xs:element name="result" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="startMobileIdSigningRequest">
        <xs:sequence>
            <xs:element name="personIdentifier" type="xs:string"/>
            <xs:element name="phoneNo" type="xs:string"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="serviceName" type="xs:string"/>
            <xs:element minOccurs="0" name="messageToDisplay" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="startMobileIdSigningResponse">
        <xs:sequence>
            <xs:element name="challengeId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMobileSigningStatusResponse">
        <xs:sequence>
            <xs:element name="midStatus" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getSignatureListResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="signatures">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="signature" type="tns:signature"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getContainerResponse">
        <xs:sequence>
            <xs:element name="containerName" type="xs:string"/>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="closeSessionResponse">
        <xs:sequence>
            <xs:element name="result" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validationConclusion">
        <xs:sequence>
            <xs:element name="policy" type="tns:policy"/>
            <xs:element name="validationTime" type="xs:string"/>
            <xs:element name="validatedDocument" type="tns:validatedDocumentData"/>
            <xs:element name="validationLevel" minOccurs="0" type="xs:string"/>
            <xs:element name="validationWarnings" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="validationWarning"
                                    type="tns:validationWarning"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signatureForm" minOccurs="0" type="xs:string"/>
            <xs:element name="signatures" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="signature"
                                    type="tns:signatureValidationData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="timeStampTokens" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="timeStampToken"
                                    type="tns:timeStampTokenData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validSignaturesCount" minOccurs="0" type="xs:int"/>
            <xs:element name="signaturesCount" minOccurs="0" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signature">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="signerInfo" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="policy">
        <xs:sequence>
            <xs:element name="policyDescription" type="xs:string"/>
            <xs:element name="policyName" type="xs:string"/>
            <xs:element name="policyUrl" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timeStampTokenData">
        <xs:sequence>
            <xs:element name="indication" type="tns:indication"/>
            <xs:element name="signedBy" type="xs:string"/>
            <xs:element name="signedTime" type="xs:string"/>
            <xs:element name="errors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:error"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="indication">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TOTAL-PASSED"/>
            <xs:enumeration value="TOTAL-FAILED"/>
            <xs:enumeration value="INDETERMINATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="error">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validatedDocumentData">
        <xs:sequence>
            <xs:element name="filename" type="xs:string"/>
            <xs:element name="fileHash" minOccurs="0" type="xs:string"/>
            <xs:element name="hashAlgo" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validationWarning">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signatureValidationData">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="signatureFormat" type="xs:string"/>
            <xs:element name="signatureLevel" minOccurs="0" type="xs:string"/>
            <xs:element name="signedBy" type="xs:string"/>
            <xs:element name="indication" type="tns:indication"/>
            <xs:element name="subIndication" minOccurs="0" type="xs:string"/>
            <xs:element name="errors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:error"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signatureScopes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="signatureScope" type="tns:signatureScope"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="claimedSigningTime" type="xs:string"/>
            <xs:element name="warnings" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="warning" type="tns:warning"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="info" minOccurs="0" type="tns:info"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signatureScope">
        <xs:sequence>
            <xs:element name="name" minOccurs="0" type="xs:string"/>
            <xs:element name="scope" minOccurs="0" type="xs:string"/>
            <xs:element name="content" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="warning">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="info">
        <xs:sequence>
            <xs:element minOccurs="0" name="bestSignatureTime" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
