siga-webapp/src/main/resources/static/siga.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" xmlns:tns="http://json.webapp.siga.openeid.ee/"
           targetNamespace="http://json.webapp.siga.openeid.ee/">
    <xs:element name="createHashcodeContainerRequest" type="tns:createHashcodeContainerRequest"/>
    <xs:element name="createHashcodeContainerResponse" type="tns:createHashcodeContainerResponse"/>
    <xs:element name="uploadHashcodeContainerRequest" type="tns:uploadHashcodeContainerRequest"/>
    <xs:element name="uploadHashcodeContainerResponse" type="tns:uploadHashcodeContainerResponse"/>
    <xs:element name="createHashcodeValidationReportRequest" type="tns:createHashcodeValidationReportRequest"/>
    <xs:element name="createHashcodeValidationReportResponse" type="tns:createHashcodeValidationReportResponse"/>
    <xs:element name="getHashcodeValidationReportResponse" type="tns:getHashcodeValidationReportResponse"/>
    <xs:element name="createHashcodeRemoteSigningRequest" type="tns:createHashcodeRemoteSigningRequest"/>
    <xs:element name="createHashcodeRemoteSigningResponse" type="tns:createHashcodeRemoteSigningResponse"/>
    <xs:element name="updateHashcodeRemoteSigningRequest" type="tns:updateHashcodeRemoteSigningRequest"/>
    <xs:element name="updateHashcodeRemoteSigningResponse" type="tns:updateHashcodeRemoteSigningResponse"/>
    <xs:element name="createHashcodeMobileIdSigningRequest" type="tns:createHashcodeMobileIdSigningRequest"/>
    <xs:element name="createHashcodeMobileIdSigningResponse" type="tns:createHashcodeMobileIdSigningResponse"/>
    <xs:element name="getHashcodeMobileIdSigningStatusResponse" type="tns:getHashcodeMobileIdSigningStatusResponse"/>
    <xs:element name="getHashcodeSignaturesResponse" type="tns:getHashcodeSignaturesResponse"/>
    <xs:element name="getHashcodeContainerResponse" type="tns:getHashcodeContainerResponse"/>
    <xs:element name="deleteHashcodeContainerResponse" type="tns:deleteHashcodeContainerResponse"/>
    <xs:element name="errorResponse" type="tns:errorResponse"/>


    <xs:complexType name="errorResponse">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string"/>
            <xs:element name="errorMessage" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createHashcodeContainerRequest">
        <xs:sequence>
            <xs:element name="dataFiles" type="tns:hashcodeDataFile" nillable="true" maxOccurs="unbounded"
                        minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="hashcodeDataFile">
        <xs:sequence>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element name="fileHashSha256" type="xs:string"/>
            <xs:element name="fileHashSha512" type="xs:string"/>
            <xs:element name="fileSize" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashcodeContainerResponse">
        <xs:sequence>
            <xs:element name="containerId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadHashcodeContainerRequest">
        <xs:sequence>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadHashcodeContainerResponse">
        <xs:sequence>
            <xs:element name="containerId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashcodeValidationReportRequest">
        <xs:sequence>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashcodeValidationReportResponse">
        <xs:sequence>
            <xs:element name="validationConclusion" type="tns:validationConclusion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getHashcodeValidationReportResponse">
        <xs:sequence>
            <xs:element name="validationConclusion" type="tns:validationConclusion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashcodeRemoteSigningRequest">
        <xs:sequence>
            <xs:element name="signingCertificate" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="stateOrProvince" type="xs:string"/>
            <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
            <xs:element minOccurs="0" name="country" type="xs:string"/>
            <xs:element minOccurs="0" name="roles" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashcodeRemoteSigningResponse">
        <xs:sequence>
            <xs:element name="dataToSign" type="xs:string"/>
            <xs:element name="digestAlgorithm" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateHashcodeRemoteSigningRequest">
        <xs:sequence>
            <xs:element name="signatureValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateHashcodeRemoteSigningResponse">
        <xs:sequence>
            <xs:element name="result" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashcodeMobileIdSigningRequest">
        <xs:sequence>
            <xs:element name="personIdentifier" type="xs:string"/>
            <xs:element name="phoneNo" type="xs:string"/>
            <xs:element name="originCountry" type="xs:string"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="serviceName" type="xs:string"/>
            <xs:element minOccurs="0" name="messageToDisplay" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="stateOrProvince" type="xs:string"/>
            <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
            <xs:element minOccurs="0" name="country" type="xs:string"/>
            <xs:element minOccurs="0" name="roles" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createHashcodeMobileIdSigningResponse">
        <xs:sequence>
            <xs:element name="challengeId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getHashcodeMobileIdSigningStatusResponse">
        <xs:sequence>
            <xs:element name="midStatus" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getHashcodeSignaturesResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="signatures" maxOccurs="unbounded" type="tns:signature"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getHashcodeContainerResponse">
        <xs:sequence>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteHashcodeContainerResponse">
        <xs:sequence>
            <xs:element name="result" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validationConclusion">
        <xs:sequence>
            <xs:element name="policy" type="tns:policy"/>
            <xs:element name="validationTime" type="xs:string"/>
            <xs:element name="validatedDocument" type="tns:validatedDocumentData"/>
            <xs:element name="validationLevel" minOccurs="0" type="xs:string"/>
            <xs:element name="validationWarnings" maxOccurs="unbounded" minOccurs="0" type="tns:validationWarning"/>
            <xs:element name="signatureForm" minOccurs="0" type="xs:string"/>
            <xs:element name="signatures" minOccurs="0" maxOccurs="unbounded" type="tns:signatureValidationData"/>
            <xs:element name="timeStampTokens" minOccurs="0" maxOccurs="unbounded" type="tns:timeStampTokenData"/>
            <xs:element name="validSignaturesCount" minOccurs="0" type="xs:int"/>
            <xs:element name="signaturesCount" minOccurs="0" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signature">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="generatedSignatureId" type="xs:string"/>
            <xs:element name="signerInfo" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="policy">
        <xs:sequence>
            <xs:element name="policyDescription" type="xs:string"/>
            <xs:element name="policyName" type="xs:string"/>
            <xs:element name="policyUrl" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timeStampTokenData">
        <xs:sequence>
            <xs:element name="indication" type="xs:string"/>
            <xs:element name="signedBy" type="xs:string"/>
            <xs:element name="signedTime" type="xs:string"/>
            <xs:element name="errors" minOccurs="0" maxOccurs="unbounded" type="tns:error"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="error">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validatedDocumentData">
        <xs:sequence>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element name="fileHash" minOccurs="0" type="xs:string"/>
            <xs:element name="hashAlgo" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validationWarning">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signatureValidationData">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="signatureFormat" type="xs:string"/>
            <xs:element name="signatureLevel" minOccurs="0" type="xs:string"/>
            <xs:element name="signedBy" type="xs:string"/>
            <xs:element name="indication" type="xs:string"/>
            <xs:element name="subIndication" minOccurs="0" type="xs:string"/>
            <xs:element name="errors" minOccurs="0" maxOccurs="unbounded" type="tns:error"/>
            <xs:element name="signatureScopes" minOccurs="0" maxOccurs="unbounded" type="tns:signatureScope"/>
            <xs:element name="claimedSigningTime" type="xs:string"/>
            <xs:element name="warnings" maxOccurs="unbounded" minOccurs="0" type="tns:warning"/>
            <xs:element name="info" minOccurs="0" type="tns:info"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signatureScope">
        <xs:sequence>
            <xs:element name="name" minOccurs="0" type="xs:string"/>
            <xs:element name="scope" minOccurs="0" type="xs:string"/>
            <xs:element name="content" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="warning">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="info">
        <xs:sequence>
            <xs:element minOccurs="0" name="bestSignatureTime" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
