siga-webapp/src/main/resources/wadl/xsd0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
    <xs:element name="CreateContainerRequest" type="CreateContainerRequest"/>
    <xs:element name="createContainerResponse" type="createContainerResponse"/>
    <xs:element name="uploadContainerRequest" type="uploadContainerRequest"/>
    <xs:element name="uploadContainerResponse" type="uploadContainerResponse"/>
    <xs:element name="validateContainerRequest" type="validateContainerRequest"/>
    <xs:element name="validateContainerResponse" type="validateContainerResponse"/>
    <xs:element name="getContainerValidationResponse" type="getContainerValidationResponse"/>
    <xs:element name="prepareSignatureRequest" type="prepareSignatureRequest"/>
    <xs:element name="prepareSignatureResponse" type="prepareSignatureResponse"/>
    <xs:element name="finalizeSignatureRequest" type="finalizeSignatureRequest"/>
    <xs:element name="finalizeSignatureResponse" type="finalizeSignatureResponse"/>
    <xs:element name="startMobileIdSigningRequest" type="startMobileIdSigningRequest"/>
    <xs:element name="startMobileIdSigningResponse" type="startMobileIdSigningResponse"/>
    <xs:element name="getMobileSigningStatusResponse" type="getMobileSigningStatusResponse"/>
    <xs:element name="getSignatureListResponse" type="getSignatureListResponse"/>
    <xs:element name="getContainerResponse" type="getContainerResponse"/>
    <xs:element name="closeSessionResponse" type="closeSessionResponse"/>

    <xs:complexType name="CreateContainerRequest">
        <xs:sequence>
            <xs:element name="containerName" type="xs:string"/>
            <xs:element name="dataFiles" type="dataFile" nillable="true" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dataFile">
        <xs:sequence>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element name="fileHash" type="xs:string" minOccurs="0"/>
            <xs:element name="fileHashAlgorithm" type="xs:string" minOccurs="0"/>
            <xs:element name="fileContent" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createContainerResponse">
        <xs:sequence>
            <xs:element name="sessionId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadContainerRequest">
        <xs:sequence>
            <xs:element name="container" type="xs:string"/>
            <xs:element name="containerName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadContainerResponse">
        <xs:sequence>
            <xs:element name="sessionId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validateContainerRequest">
        <xs:sequence>
            <xs:element name="containerName" type="xs:string"/>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validateContainerResponse">
        <xs:sequence>
            <xs:element name="validationConclusion" type="validationConclusion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getContainerValidationResponse">
        <xs:sequence>
            <xs:element name="validationConclusion" type="validationConclusion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="prepareSignatureRequest">
        <xs:sequence>
            <xs:element name="signingCertificate" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="stateOrProvince" type="xs:string"/>
            <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
            <xs:element minOccurs="0" name="country" type="xs:string"/>
            <xs:element minOccurs="0" name="roles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="role" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="prepareSignatureResponse">
        <xs:sequence>
            <xs:element name="dataToSign" type="xs:string"/>
            <xs:element name="digestAlgorithm" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="finalizeSignatureRequest">
        <xs:sequence>
            <xs:element name="signatureValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="finalizeSignatureResponse">
        <xs:sequence>
            <xs:element name="result" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="startMobileIdSigningRequest">
        <xs:sequence>
            <xs:element name="personIdentifier" type="xs:string"/>
            <xs:element name="phoneNo" type="xs:string"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="serviceName" type="xs:string"/>
            <xs:element minOccurs="0" name="messageToDisplay" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="startMobileIdSigningResponse">
        <xs:sequence>
            <xs:element name="challengeId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMobileSigningStatusResponse">
        <xs:sequence>
            <xs:element name="midStatus" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getSignatureListResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="signatures">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="signature" type="signature"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getContainerResponse">
        <xs:sequence>
            <xs:element name="containerName" type="xs:string"/>
            <xs:element name="container" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="closeSessionResponse">
        <xs:sequence>
            <xs:element name="result" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validationConclusion">
        <xs:sequence>
            <xs:element name="Policy" type="Policy"/>
            <xs:element name="ValidationTime" type="xs:string"/>
            <xs:element name="ValidatedDocument" type="ValidatedDocumentData"/>
            <xs:element name="ValidationLevel" minOccurs="0" type="xs:string"/>
            <xs:element name="ValidationWarnings" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ValidationWarning"
                                    type="ValidationWarning"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SignatureForm" minOccurs="0" type="xs:string"/>
            <xs:element name="Signatures" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Signature"
                                    type="SignatureValidationData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TimeStampTokens" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeStampToken"
                                    type="TimeStampTokenData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ValidSignaturesCount" minOccurs="0" type="xs:int"/>
            <xs:element name="SignaturesCount" minOccurs="0" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="signature">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="signerInfo" type="xs:string"/>
            <xs:element name="signatureProfile" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Policy">
        <xs:sequence>
            <xs:element name="PolicyDescription" type="xs:string"/>
            <xs:element name="PolicyName" type="xs:string"/>
            <xs:element name="PolicyUrl" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeStampTokenData">
        <xs:sequence>
            <xs:element name="Indication" type="Indication"/>
            <xs:element name="SignedBy" type="xs:string"/>
            <xs:element name="SignedTime" type="xs:string"/>
            <xs:element name="Errors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="Error"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Indication">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TOTAL-PASSED"/>
            <xs:enumeration value="TOTAL-FAILED"/>
            <xs:enumeration value="INDETERMINATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Error">
        <xs:sequence>
            <xs:element name="Content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValidatedDocumentData">
        <xs:sequence>
            <xs:element name="Filename" type="xs:string"/>
            <xs:element name="FileHash" minOccurs="0" type="xs:string"/>
            <xs:element name="HashAlgo" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValidationWarning">
        <xs:sequence>
            <xs:element name="Content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignatureValidationData">
        <xs:sequence>
            <xs:element name="Id" type="xs:string"/>
            <xs:element name="SignatureFormat" type="xs:string"/>
            <xs:element name="SignatureLevel" minOccurs="0" type="xs:string"/>
            <xs:element name="SignedBy" type="xs:string"/>
            <xs:element name="Indication" type="Indication"/>
            <xs:element name="SubIndication" minOccurs="0" type="xs:string"/>
            <xs:element name="Errors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="Error"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SignatureScopes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="SignatureScope" type="SignatureScope"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClaimedSigningTime" type="xs:string"/>
            <xs:element name="Warnings" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Warning" type="Warning"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Info" minOccurs="0" type="Info"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignatureScope">
        <xs:sequence>
            <xs:element name="Name" minOccurs="0" type="xs:string"/>
            <xs:element name="Scope" minOccurs="0" type="xs:string"/>
            <xs:element name="Content" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Warning">
        <xs:sequence>
            <xs:element name="Content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Info">
        <xs:sequence>
            <xs:element minOccurs="0" name="BestSignatureTime" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
